<app-header titulo="Refresher"></app-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h1 class="animated fadeIn fast" *ngIf="item.length === 0">Pull to refresh</h1>

  <ion-list *ngIf="item.length > 0 ">
    <ion-item class="animated fadeIn fast" *ngFor="let items of item;let i = index">
      Item {{i+1}}
    </ion-item>
  </ion-list>

</ion-content>