<app-header [titulo]="titulo || 'Alert Page' "></app-header>

<ion-content>
    <ion-button expand="full" color="primary" (click)="presentAlert()">
        Mostrar alerta
    </ion-button>
    <ion-button expand="full" color="primary" (click)="presentInputAlert()">
        Mostrar Input
    </ion-button>
</ion-content>