<app-header titulo="ProgressBar Range"></app-header>
<ion-content>

  <ion-progress-bar [value]="porcentaje"></ion-progress-bar>
  <br>
  <ion-list>
    <ion-item>
      <ion-range
        min="0" max="100"
        dualKnobs="false" pin="true"
        snaps="false" step="1"
        ticks="true" value="0"
        color="primary"
        (ionChange)="rangeChange($event)">
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>