<app-header titulo = "checkbox"></app-header>

<ion-content>
  <ion-item *ngFor="let item of data" (click)="onClick(item)">
    <ion-label>{{item.name}}</ion-label>
    <ion-checkbox slot="end" [color]="item.name" [(ngModel)]="item.selected"></ion-checkbox>
  </ion-item>
</ion-content>
