<ion-header no-border >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="primerMenu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-list>
      <ion-item *ngFor="let item of componentes"  [routerLink]="item.redirectTo" detail>
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
     
    </ion-list>
  
      <!-- <ion-button routerLink="/inicio">
        inicio
      </ion-button>
      <ion-button routerLink="/action-sheet">
        Action sheet
      </ion-button> -->
  </ion-content>
  