<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button text="Regresar" defaultHref="/inicio"></ion-back-button>
          </ion-buttons>
      <ion-title class="ion-text-center" class="ion-text-capitalize">{{titulo}}</ion-title>
    </ion-toolbar>
  </ion-header> 