<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>popover</ion-title>
    <ion-buttons slot="end" (click)="mostrarPop($event)">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="mostrarPop($event)">
    <ion-icon slot="icon-only" name="contact"></ion-icon>
    <ion-label>Popover</ion-label>
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">

    <ion-title class="ion-text-center">footer</ion-title>
    <ion-buttons slot="start" (click)="mostrarPop($event)">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>