<app-header titulo="card"></app-header>
<ion-content class="ion-padding">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="dark">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content color="primary">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam laudantium, maxime labore placeat, ab odit consequuntur earum quos libero cupiditate reiciendis quaerat laborum, corporis ut natus obcaecati ratione et dolores!
    </ion-card-content>
  </ion-card>

</ion-content>