ion-slides{
    height: 100%;
}
.slide-1 {
  height: 100%;
  background-color: #b5bdcc;
}
.slide-2 {
  height: 100%;
  background-color: #0cd1e8;
}
.slide-3 {
  height: 100%;
  background-color: #10dc60;
}
