<app-header titulo="Slides"></app-header>

<ion-content>

<ion-slides pager="true"> 
  <ion-slide class="slide-1">
    <h1>Awesome Slide 1</h1>
  </ion-slide>
  <ion-slide class="slide-2">
    <h1>Awesome Slide 2</h1>
  </ion-slide>
  <ion-slide class="slide-3">
    <h1>Awesome Slide 3</h1>
  </ion-slide>
</ion-slides>


</ion-content>
