<app-header titulo="modal">
</app-header>

<ion-content class="ion-padding">
  <ion-button extend="full" (click)="abrirModal()">
    abrir modal
  </ion-button>
  <p>
    yeah goicoechea
  </p>
</ion-content>