<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Botones</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button color="success">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content class="ion-padding">

  <!-- Botones normales -->
  <ion-button size="small" expand="full">
    Small
  </ion-button>
  <ion-button size="default" expand="full">
    Default
  </ion-button>
  <ion-button size="large" expand="full">
    Large
  </ion-button>
  <ion-button class="top-20" expand="full" routerLink="/alert" color="tertiary">
    anchor
  </ion-button>
  <!-- ion-row y ion col -->
  <ion-row>
    <ion-col>
      <ion-button class="top-20" expand="full" routerLink="/action-sheet" color="tertiary">
        action sheet
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="top-20" expand="full" routerLink="/alert" color="tertiary">
        alert
      </ion-button>
    </ion-col>
  </ion-row>


</ion-content>