<app-header titulo="action"></app-header>

<ion-content padding>

  <ion-grid fixed>
    <ion-row>
      <ion-col  ></ion-col>
      <ion-col size-xl="6" size-md="6" size="12">
        <ion-button expand="full" color="primary" (click)="presentActionSheet()">
          Mostrar action sheet
        </ion-button>
      </ion-col>
      <ion-col ></ion-col>
    </ion-row>
  </ion-grid>




</ion-content>