<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/supra.jpg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>



</ion-header>
 




<ion-content class="ion-padding">
  <ion-chip color="primary" *ngFor="let item of [1,1,1,1,1,1,1]">
    <ion-avatar>
      <img src="/assets/supra.jpg" />
    </ion-avatar>
    <ion-label>Supra</ion-label>
  </ion-chip>
  <ion-item *ngFor="let i of [1,1,1,1,1,1]">
    <ion-avatar slot="start">
      <img src="/assets/supra.jpg" />
    </ion-avatar>
    <ion-label>Supra</ion-label>
  </ion-item>
</ion-content>