<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>searchbar</ion-title>
  </ion-toolbar>

  <ion-searchbar animated placeholder="Buscar" (ionChange)="onSearchChange($event)"></ion-searchbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let album of albums | filtro: searchData: 'title' ">
      {{album.title}}
    </ion-item>
  </ion-list>

</ion-content>