<app-header titple="inputs y forms"></app-header>

<ion-content class="ion-padding">


  <ion-list>
    <ion-list-header>
      <ion-label>Nombre {{nombre || 'No hay nombre'}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

  </ion-list>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <ion-grid fixed>
      <ion-col size="1"></ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
            type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="loginFormValidate[0].visible" lines="none">
          <ion-text color="danger" class="form-error">
            {{loginFormValidate[0].emailAlert}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="loginFormValidate[1].visible" lines="none">
          <ion-text color="danger" class="form-error">
            {{loginFormValidate[1].passwordAlert}}
          </ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-grid>




    <ion-grid fixed>
      <ion-row>
        <ion-col size="4" size-xl="3"></ion-col>
        <ion-col size="4" size-xl="6">
          <ion-button expand="block" color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
          </ion-button>
        </ion-col>
        <ion-col size="4" size-xl="3"></ion-col>
      </ion-row>
    </ion-grid>



  </form>



</ion-content>