<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">{{nombre}} - {{pais}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="primary" expand="full" (click)="salirSnArgs()">
    salir sin argumentos
  </ion-button>
  <ion-button color="primary" expand="full" (click)="salirCnArgs()">
    salir con argumentos
  </ion-button>
</ion-content>