<app-header titulo="$ en nodos distribuidos"></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Sistema Eléctrico</ion-label>
      <ion-select multiple="false" placeholder="Seleccione" (ionChange)="electricSistemChange($event)">
        <ion-select-option *ngFor="let itemSE of electricSistem" [value]="itemSE">{{itemSE}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de proceso</ion-label>
      <ion-select multiple="false" placeholder="Seleccione" (ionChange)="processChange($event)">
        <ion-select-option *ngFor="let itemTP of proceso" [value]="itemTP">{{itemTP}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Lista de Nodos</ion-label>
      <ion-select multiple="true" placeholder="Seleccione" (ionChange)="nodeChange($event)">
        <ion-select-option *ngFor="let itemNL of listaNodos" [value]="itemNL">{{itemNL}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Fecha Inicial</ion-label>
      <ion-datetime [(ngModel)]="initialYear"
        monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" displayFormat="YYYY-MM-DD">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Fecha Final</ion-label>
      <ion-datetime [(ngModel)]="finalYear" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
        displayFormat="YYYY-MM-DD"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="4">
        <ion-button (click)="Enviar()">
          <ion-icon slot="start" name="cash"></ion-icon>
          Precios marginales locales
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>